body
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    color: #111;
    background: #fff;
}
main
{
    max-width: 600px;
    margin: 80px 10%;
}
h1
{
    font-family: inherit;
    font-size: 36px;
    line-height: 40px;

    margin: 0 0 30px;

    color: #333;
}
p
{
    margin: 0 0 10px;
}
.button
{
    display: inline-block;

    margin-left: 10px;
    padding: 8px 16px 5px 16px;

    transition: opacity .2s;
    text-decoration: none;

    color: #fff;
    border-radius: 2px;
    background: #6287ae;
}
.button:hover
{
    opacity: .9;
}
