---
import "../style.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/bookmarklets/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/bookmarklets/favicon.svg" type="image/svg+xml">
  </head>
  <body>
    <slot />

    <footer>
      © isqua
      <iframe
        src="https://ghbtns.com/github-btn.html?user=isqua&repo=bookmarklets&type=star&count=true"
        frameborder="0"
        scrolling="0"
        width="150"
        height="20"
        title="Star these bookmarklets on Github"></iframe>
      <a class="more" href="https://isqua.github.io">Other Projects</a>
    </footer>
  </body>
  <!-- Yandex.Metrika counter -->
  <script title="metrika">
    (function (m, e, t, r, i, k, a) {
      m[i] =
        m[i] ||
        function () {
          (m[i].a = m[i].a || []).push(arguments);
        };
      m[i].l = 1 * new Date();
      for (var j = 0; j < document.scripts.length; j++) {
        if (document.scripts[j].src === r) {
          return;
        }
      }
      (k = e.createElement(t)),
        (a = e.getElementsByTagName(t)[0]),
        (k.async = 1),
        (k.src = r),
        a.parentNode.insertBefore(k, a);
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(28698696, "init", {
      clickmap: true,
      accurateTrackBounce: true,
      trackLinks: true,
    });
  </script>
  <noscript
    ><div>
      <img
        src="https://mc.yandex.ru/watch/28698696"
        style="position:absolute; left:-9999px;"
        alt=""
      />
    </div></noscript
  >
  <!-- /Yandex.Metrika counter -->
</html>
